<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>Receive</ion-title>
            </ion-buttons>
      
    </ion-toolbar>
</ion-header>
<ion-content >
  <div style="width: 100%; text-align: center; margin:30px 0;">
      <qrcode [qrdata]="myAngularxQrCode" [size]="256" style="display:inline-block" [level]="'M'"></qrcode><br>
      <span style="font-size:11px">{{address}}</span> <span style="font-size:25px; margin-left:5px"><ion-icon (click)="copyAddress()" name="copy"></ion-icon></span>
  </div>
<ion-item>
  <ion-input type="number" [(ngModel)]='amountLyra' (ionFocus)="fixInputs('lyra')" (ngModelChange)='calculateFIAT()' value=0 style='font-size: 18px;'></ion-input>
  <p style='font-size: 18px' slot='end'>LYRA</p>
</ion-item>
<ion-item>
  <ion-input type="number" [(ngModel)]='amountFIAT' (ionFocus)="fixInputs('fiat')" (ngModelChange)='calculateLyra()' value=0 style='font-size: 18px;'></ion-input>
  <p style='font-size: 18px' slot='end'>EUR</p>
</ion-item>

</ion-content>
<ion-footer>
          
  
    <ion-tab-bar slot="bottom">
  
      <ion-tab-button  [routerLink]="'/dashboard'">
        <ion-label style='color:#a7a7a7'>Dashboard</ion-label>
        <ion-icon name="card" style='color:#a7a7a7'></ion-icon>
        
      </ion-tab-button>
  
      <ion-tab-button [routerLink]="'/send'">
        <ion-label style='color:#a7a7a7'>Send</ion-label>
        <ion-icon name="send" style='color:#a7a7a7'></ion-icon>
      </ion-tab-button>

      <ion-tab-button [routerLink]="'/receive'" >
          <ion-label style='color:#a7a7a7'>Receive</ion-label>
          <ion-icon name="add" style='color:#a7a7a7'></ion-icon>
        </ion-tab-button>

        <ion-tab-button [routerLink]="'/archive'" >
            <ion-label style='color:#a7a7a7'>Notify</ion-label>
            <ion-icon name="archive" style='color:#a7a7a7'></ion-icon>
          </ion-tab-button>
    </ion-tab-bar>
  
  </ion-footer>
