<ion-header>
    <ion-toolbar>
        <ion-buttons>
            <ion-menu-button></ion-menu-button>
            <ion-title>Card Settings</ion-title>
            </ion-buttons>
      
    </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding" style='margin-top:30%; text-align:center'>
  <div >
<h2 style="margin:0 auto;font-size: 14px;color:#555555">Order a Scrypra Card Wallet</h2>
<button class='buttonsBut' style='margin-top:5%'>Request a new card</button><br/><br/><br/>
<h2 style="margin:0 auto;font-size: 14px;color:#555555;margin-top:10%">This operation allow you to activate your Scrypta Card wallet. Follow this <a href="#" style='color:red'>guide</a> for more informations.</h2>
<button class='buttonsBut' style='margin-top:5%'>Activate your card</button><br/><br/><br/>
</div>
</ion-content>

