<ion-header *ngIf="add !== null">
  <ion-toolbar>
    <ion-buttons>
      <ion-icon style="margin: 0 10px" (click)="goBack()" name="arrow-back"></ion-icon>
      <ion-title>Add new account</ion-title>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content text-center>
  <img src="/assets/imgs/scrypta_ce.png" *ngIf="add === null" style="width: 140px;height: 118px;margin-top:5%"><br><br> 
  <div padding>
      Select one of the following restore methods and follow the instructions:<br>
  </div>
  <button (click)='createNewAddress()' expand="full" class='buttonsBut' style='margin-top: 5%' >Create new address</button><br/>
  <button (click)='openSidFile()' expand="full" class='buttonsBut' style='margin-top: 5%' >Restore .sid file<ion-icon name="key" style="float:right" size='large'></ion-icon></button><br/>
  <button (click)='loginCard()' expand="full" class='buttonsBut' style='margin-top: 5%'>Read ScryptaCard<ion-icon name="card" style="float:right" size='large'></ion-icon></button><br/>
  <button (click)='readQrCode()' expand="full" class='buttonsBut'style='margin-top: 5%'>Pair with ManentWeb<ion-icon name="qr-scanner" style="float:right" size='large'></ion-icon></button><br/>
  <br><br>
  <div *ngIf="add === null">
    <h3>- OR -</h3>
    <a style="color:#d8273a" routerLink='/create-wallet'>Create a new wallet</a>
  </div>
</ion-content>
