
.transparentBody {
    background: transparent !important;
}
ion-footer{
    height: 30px;
    background-color: #282828;
  }
  .footerAlready {
    //width: 290px;
    height: 29px;
    color: #ffffff;
    font-family: 'poppinsregular';
    font-size: 12px;
    font-weight: 600;
    line-height: 27px;
    text-align: center;
    letter-spacing: -0,75px;
  }
  .loginNow {
    
    height: 19px;
    color: #d8273a;
    font-family: BanglaSangamMN;
    font-size: 7px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    letter-spacing: -0,5833333px;
  }