<ion-header>
  <ion-toolbar>
    <ion-title>loginToWallet</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<ion-item>
<ion-button >Login With .Sid file</ion-button>

</ion-item>
<ion-item>
    <ion-button (click)='loginCard()'>Login Card</ion-button>
    
    </ion-item>
    <ion-item>
        <ion-button (click)='readQrCode()' >Login QrCode</ion-button>
        
        </ion-item>
        <ion-item id='password'>
        <ion-label position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            Password
          </ion-label> 
   <ion-input type="password" [(ngModel)]='password' name='password'  required='true' ></ion-input>
   <ion-button (click)='unlockWallet()'>Accedi al tuo Wallet</ion-button>
</ion-item>


</ion-content>


