<ion-header>
  <ion-toolbar>
    <ion-title>Account Details</ion-title>
    <div slot='end'>
      <ion-icon name='close' style="margin-right:5px;" (click)='close()'></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content padding style="text-align: center">
  <strong>Balance</strong> {{ balance }} LYRA<br><br>
  <qrcode [qrdata]="myAngularxQrCode" [size]="256" style="display:inline-block" [level]="'M'"></qrcode><br>
  <span style="font-size:11px">{{ address }}</span> <span style="font-size:25px; margin-left:5px"><ion-icon (click)="copyAddress()" name="copy"></ion-icon></span><br>
  <button class='buttonsBut' (click)="useAddress()" style='margin:10px auto; width:100%; opacity: 1'>Use this Address</button><br>
  <button class='buttonsBut' (click)="openInExplorer()" style='margin:0 auto; width:100%; opacity: 1'>Open in block explorer</button>
  
  <div *ngIf="private_key === ''">
      <div *ngIf="showUnlock === true" class="unlockModal" padding>
          <ion-icon name='close' style="position:absolute; top:10px; right:10px; font-size:25px" (click)='lock()'></ion-icon>
          <h2 style="margin-top:30vh">Please enter wallet password</h2>
          <ion-item text-center>
            <ion-input [(ngModel)]='password' type='password'></ion-input>
          </ion-item>
          <div text-center>
            <button text-center (click)='unlockWallet()' class='buttonsBut' style='margin:10% auto 0 auto;'>Unlock wallet</button>
          </div>
        </div>
        <span *ngIf="showUnlock === false" style="color:#d8273a; text-decoration: underline" (click)="unlock()">Show Private Key</span><br>
  </div>

  <div *ngIf="private_key !== ''">
    <h2>Your private key is</h2>
    <span style="font-size:11px">{{ private_key }}</span>
    <button class='buttonsBut' (click)="copyPrivKey()" style='margin:0 auto; width:100%; opacity: 1'>Copy Private Key</button><br>
  </div>

  <h2>Transactions</h2>
  <ion-list>
    <div *ngIf="transactions.length==0">No Transactions</div>
    <div *ngIf="transactions.length!=0">
      <ion-item *ngFor="let transaction of transactions; let i=index" [attr.data-index]="i"
        (click)='openDetails(transaction)'>
        <span *ngIf="transaction.value > 0">+</span>{{ transaction.value.toFixed(4) }}
        <span *ngIf="transaction.value > 0" style="margin-left:5px; font-size: 11px">
          from {{ transaction.from[0] }}
        </span> 
        <span *ngIf="transaction.value < 0" style="margin-left:5px; font-size: 11px">
          to {{ transaction.to[1] }}
        </span>
      </ion-item>
    </div>
  </ion-list>
</ion-content>