<ion-header>
  <ion-toolbar>
    <ion-title>Details</ion-title>
    <div slot='end'>
    <button ion-button style="background:transparent" icon-only (click)="closemodal()">
        <ion-icon name="close" style="background:transparent"></ion-icon>
      </button>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
<h2 *ngIf="risposta.refID !== 'undefined' && risposta.refID !== '' && risposta.refID !== undefined" style="font-size:16px;color:#d43f51">Reference ID</h2>
<ion-item *ngIf="risposta.refID !== 'undefined' && risposta.refID !== '' && risposta.refID !== undefined">
  <p style='font-size:14px'>{{risposta.refID}}</p>
</ion-item>
<h2 *ngIf="risposta.title !== '' && risposta.title !== undefined" style="font-size:16px;color:#d43f51">Title</h2>
<ion-item *ngIf="risposta.title !== '' && risposta.title !== undefined">
  <p style='font-size:14px'>{{risposta.title}}</p>
</ion-item>
<h2 *ngIf="risposta.text !== '' && risposta.text !== undefined" style="font-size:16px;color:#d43f51">Description</h2>
<ion-item *ngIf="risposta.text !== '' && risposta.text !== undefined">
  <p style='font-size:14px'>{{risposta.text}}</p>
</ion-item>
<h2 style="font-size:16px;color:#d43f51">Unique Identifier (UUID)</h2>
<ion-item>
  <p style='font-size:14px'>{{risposta.uuid}}</p>
</ion-item>
<h2 style="font-size:16px;color:#d43f51">Block</h2>
<ion-item>
  <p style='font-size:14px'>{{risposta.block}}</p>
</ion-item>
<h2 *ngIf="risposta.message !== '' && risposta.message !== undefined" style="font-size:16px;color:#d43f51">Message</h2>
<ion-item *ngIf="risposta.message !== '' && risposta.message !== undefined">
  <p style='font-size:14px'>{{risposta.message}}</p>
</ion-item>
<h2 style="font-size:16px;color:#d43f51">Content</h2>
<ion-item *ngIf="risposta.is_ipfs" class="ion-text-center">
    <div *ngIf="risposta.mimetype == 'image'" style="text-align:center; width:100%">
    <img src='{{risposta.data}}' width="100%">
  </div>
  <span style="text-decoration:underline" (click)='openFile(risposta.data)'>Open {{ risposta.mimedetail.toUpperCase() }} file</span>
</ion-item>
<ion-item *ngIf="!risposta.is_ipfs">
  <p style='font-size:14px'>{{risposta.data}}</p>
</ion-item>
</ion-content>
