<ion-header>
  <ion-toolbar>
    <ion-title>Upload</ion-title>
    <div slot='end'>
      <ion-icon name='close' style="margin-right:5px" (click)='close()'></ion-icon>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="width:100%">
      <h2 style='font-size:14px'>Encrypt data</h2>
      <div style="float:right; margin-top:-30px;">
        <ion-toggle [(ngModel)]='toggleChecked'></ion-toggle>
      </div>
      <div *ngIf="toggleChecked === true">
        <h2 style='font-size:14px'>Encryption password</h2>
          <ion-input type='text' style="border-bottom:1px solid #aaa" [(ngModel)]='encryptPwd'></ion-input>
        <span style="color:#f00; font-size:12px">Please make sure you'll remember this password, if you lose it you will not be able to access the data again.</span>
      </div>
    </div>
  <h2 style='font-size:14px'>Title</h2>
    <ion-input placeholder='Insert a title' style="border-bottom:1px solid #aaa" [(ngModel)]='refID'></ion-input>
  <h2 style='font-size:14px'>Select a file</h2>
    <input placeholder='Choose a file' type='file' style="margin:0; width: 100%" [(ngModel)]='fileName' id='fileInput' (change)='getAttributes()'>
  <h2 style='font-size:14px'>Text</h2>
    <ion-textarea placeholder='Insert a text' style="border-bottom:1px solid #aaa; height:20vh" [(ngModel)]='message'></ion-textarea>
  <div id='passwordFields'>
  <h2 style='font-size:14px'>Insert wallet password</h2>
    <ion-input type='password' style="border-bottom:1px solid #aaa" [(ngModel)]='unlockPwd'></ion-input>
  </div><br><br>
  <div class="ion-text-center">
    <button class="buttonsBut ion-text-center" type="submit" (click)='unlockWallet()' style="margin:0 auto">Upload</button>
  </div>

</ion-content>