// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';
@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');

title-toolbar{
    text-align: center;
}
*, .native-input{
  font-family: 'Poppins';
}

input{
  font-family: 'Poppins'!important;
}
.unlockModal{
  position:fixed;
  text-align:center;
  top:0; 
  left:0; 
  width:100%;
  height:100%;
  background:#fff;
  z-index:99999;
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
.buttonsBut {
    width: 290px;
    text-transform: uppercase;
    height: 50px;
    background:#d8273a;
    font-family: 'Poppins';
    line-height: 35px;
    color:white;
    border-radius: 15px 15px 15px 15px;
  }

  .inputforms{
    width: 215px;
    height: 19px;
    color: #555555;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0,2215385px;
  }