<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-icon style="margin: 0 10px" (click)="goBack()" name="arrow-back"></ion-icon>
          <ion-title>{{ translations.backup.backup_title }}</ion-title>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center ion-padding">
  
  <h3 style="margin-top:20px; text-align: center;">{{ translations.backup.download_backup }}</h3>
  <h5 style="color:#f00; text-decoration: underline">{{ translations.backup.please_note }}</h5>
  <button expand='full' (click)='getPermissions()' style="margin-top:5%;" class='buttonsBut'>{{ translations.backup.download_sid }} <ion-icon name='key' size='large' style='float:right'></ion-icon></button> 
  <button expand='full' (click)='unlock()' style="margin-top:5%" class='buttonsBut' >{{ translations.backup.download_paper }}<ion-icon name='document' size='large' style="float:right"></ion-icon></button>
  <ion-content *ngIf="showUnlock === true" class="unlockModal ion-padding">
    <ion-icon name='close' style="position:absolute; top:10px; right:10px; font-size:25px" (click)='lock()'></ion-icon>
    <h2 style="margin-top:30vh">{{ translations.home.enter_wallet_password }}</h2>
    <ion-item class="ion-text-center">
      <ion-input [(ngModel)]='password' type='password'></ion-input>
    </ion-item>
    <div class="ion-text-center">
      <button (click)='unlockWallet()' class='buttonsBut ion-text-center' style='margin:10% auto 0 auto;'>{{ translations.general.unlock_wallet }}</button>
    </div>
  </ion-content>
</ion-content>