

<ion-content text-center>
    <img src="/assets/logo.png" style="margin-top:10%;">
    <h2>SCRYPTA-MANENT</h2>
</ion-content>

  


    <ion-content text-center class="vertical-align-center" >
    <form (ngSubmit)=createWallet()>
      <ion-item>
        <ion-label position="floating">
            <ion-icon name="lock" item-start></ion-icon>
            Password
          </ion-label> 
   <ion-input type="password" [(ngModel)]='password' name='password'></ion-input>
   </ion-item>
   <ion-item>
     
   <ion-label position="floating">
     
      <ion-icon name="lock" item-start></ion-icon>
     Repeat Password
    </ion-label>
   <ion-input type="password"  [(ngModel)]='repassword'  name='repassword'></ion-input>
</ion-item>
<ion-item text-center class="vertical-align-center">
    <ion-button type="submit">Create Wallet</ion-button>
    </ion-item>
    </form>
  
  </ion-content>
 
   <ion-row >
     <ion-item>
    <ion-label>Already have an account ? </ion-label>
    </ion-item>

    <ion-item text-center >
    <ion-label ><a routerLink='/login-to-wallet'>Login Now</a></ion-label>
</ion-item>
</ion-row>
