

<ion-content text-center>
    <img src="/assets/imgs/scrypta_ce.png" class="scrypta_ce" style='margin-top: 10%'>
    <br/><img src="/assets/imgs/manent.png" class="scrypta_ce" style='margin-top: 10%'>

    <form (ngSubmit)=createWallet()>
      <ion-item>
        <ion-label position="floating">
         
            Password
          </ion-label> 
   <ion-input type="password" [(ngModel)]='password' name='password'></ion-input>
   </ion-item>
   <ion-item>
     
   <ion-label position="floating">
     
      
     Repeat Password
    </ion-label>
   <ion-input type="password"  [(ngModel)]='repassword'  name='repassword' class="inputForms"></ion-input>
</ion-item>

    <button type="submit" expand="full" class='buttonsBut' style="margin-top:5%;">Create Wallet</button>
    </form>
    

  </ion-content>
   <ion-footer text-center>
    
    <h3 class="footerAlready">Already have an account ? </h3>
    

    
    <a class ='loginNow' routerLink='/login-to-wallet'>Import Wallet</a>

</ion-footer>


