<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-menu-button></ion-menu-button>
      <ion-title>Accounts</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card *ngFor="let address of accounts; let i=index" [attr.data-index]="i" (click)='openDetails(address.index)'>
    <ion-card-header>
      <ion-card-subtitle>{{ address.address }}</ion-card-subtitle>
      <ion-card-title>{{ address.balance }} LYRA</ion-card-title>
    </ion-card-header>
  </ion-card>

  <button class='buttonsBut' (click)='addAccount()' style='margin:0 auto; width:100%; opacity: 1'>Add account</button>

</ion-content>
<ion-footer>
  <ion-tab-bar slot="bottom">

    <ion-tab-button [routerLink]="'/dashboard'">
      <ion-label style='color:#a7a7a7'>Dashboard</ion-label>
      <ion-icon name="card" style='color:#a7a7a7'></ion-icon>

    </ion-tab-button>

    <ion-tab-button [routerLink]="'/send'">
      <ion-label style='color:#a7a7a7'>Send</ion-label>
      <ion-icon name="send" style='color:#a7a7a7'></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/receive'">
      <ion-label style='color:#a7a7a7'>Receive</ion-label>
      <ion-icon name="add" style='color:#a7a7a7'></ion-icon>
    </ion-tab-button>

    <ion-tab-button [routerLink]="'/notify'">
      <ion-label style='color:#a7a7a7'>Notify</ion-label>
      <ion-icon name="archive" style='color:#a7a7a7'></ion-icon>
    </ion-tab-button>
  </ion-tab-bar>

</ion-footer>