<ion-header>
  <ion-toolbar>
      <ion-buttons>
          <ion-menu-button></ion-menu-button>
          <ion-title>Account</ion-title>
          </ion-buttons>
    
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <h2 style='font-size:12px;color:#d8273a'>Your addresses</h2>
  <ion-list>
    
  </ion-list>
      
  </ion-content>
  <ion-footer>
      <ion-tab-bar slot="bottom">
    
        <ion-tab-button  [routerLink]="'/account'">
          <ion-label style='color:#a7a7a7'>Account</ion-label>
          <ion-icon name="card" style='color:#a7a7a7'></ion-icon>
          
        </ion-tab-button>
    
        <ion-tab-button [routerLink]="'/send'">
          <ion-label style='color:#a7a7a7'>Send</ion-label>
          <ion-icon name="send" style='color:#a7a7a7'></ion-icon>
        </ion-tab-button>
  
        <ion-tab-button [routerLink]="'/receive'" >
            <ion-label style='color:#a7a7a7'>Receive</ion-label>
            <ion-icon name="add" style='color:#a7a7a7'></ion-icon>
          </ion-tab-button>
  
          <ion-tab-button [routerLink]="'/notify'" >
              <ion-label style='color:#a7a7a7'>Notify</ion-label>
              <ion-icon name="archive" style='color:#a7a7a7'></ion-icon>
            </ion-tab-button>
      </ion-tab-bar>
    
    </ion-footer>
        
       

