@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk&display=swap');ù
body, html {
    font-family: 'Space Grotesk', sans-serif;
}
.swiper-container{
    width:100%!important;
    max-width:100%!important;
    height:100vh;
}
h1, h2, h3, h4, h5, h6{
    display: block;
    width: 100%;
    overflow: hidden;
}
.swiper-slide{
    word-break: break-word;
}
