<ion-header>
  <ion-toolbar>
    <ion-buttons>
      <ion-icon style="margin: 0 10px" (click)="goBack()" name="arrow-back"></ion-icon>
      <ion-title>Settings</ion-title>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div style="text-align: center">
    <img src="/assets/imgs/logo.png" class="scrypta_ce" width="40%"><br>
    Scrypta Manent is an open-source<br>project by Scrypta Task Force.<br>
    <strong>v1.1.1</strong>
    <br><br>
    <a href="https://github.com/scryptachain" target="_system">GitHub</a><br>
    <a href="https://scrypta.foundation" target="_system">Foundation Website</a><br>
    <a href="https://scryptachain.org" target="_system">ScryptaChain Website</a><br>
    <a href="https://explorer.scryptachain.org" target="_system">Block Explorer</a><br>
    <a href="https://manent.scryptachain.org" target="_system">Manent Web</a><br>
  </div>

  <ion-item style="margin-top:10%">
    <ion-label style="font-size:14px;color:#d43f51"> Preferred Currency</ion-label>
    <ion-select [(ngModel)]='currency' value={{currency}} (ngModelChange)='changeCurrency()'>
      <ion-select-option value='usd'>USD</ion-select-option>
      <ion-select-option value='eur'>EUR</ion-select-option>
      <ion-select-option value='gbp'>GBP</ion-select-option>
    </ion-select>
  </ion-item>
  <ion-item style="margin-top:10px">
    <ion-label style="font-size:14px;color:#d43f51"> Theme</ion-label>
    <ion-select [(ngModel)]='theme' value={{theme}} (ngModelChange)='changeTheme()'>
      <ion-select-option value='light'>Light</ion-select-option>
      <ion-select-option value='dark'>Dark</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>